.animation-banner {
  background: rgba(0, 0, 255, 0.1); 
  position: relative;
  overflow: hidden;
  min-height: 600px;
}
#iPhone {
  position: absolute;
  top: 720px;
  left: 0;
  opacity: 0;
  z-index: 110000 !important;
}


#slack {
  position: absolute;
  bottom: 50px;
  left: 0;
}

#email {
  position: absolute;
  top: 100px;
  left: 0;
}

#itinerary-1,
#itinerary-2,
#itinerary-3 {
  position: absolute;
  bottom: 100px;
  right: 0;
  overflow: visible;
}

.nlp-search-banner {
  position: relative;
  padding-top: 21%;
  overflow: hidden;

  #nlp-airline,
  #nlp-hotel,
  #nlp-ota {
    position: absolute;
    top: 0;
    left: 0;
  }

  #nlp-airline {
    z-index: 100;
  }

  #nlp-hotel {
    z-index: 90;
  }

  #nlp-ota {
    z-index: 80;
  }
}

.garden {
  position: relative;
  width : 200px;
  height: 200px;
  border: 5px solid #CCC;
  border-radius: 10px;
}

.ball {
  position: absolute;
  top   : 90px;
  left  : 90px;
  width : 20px;
  height: 20px;
  background: green;
  border-radius: 100%;
}

:root {
  --backgroundXPosition: 50%;
}

.second-hero,
.third-hero,
.fourth-hero,
.fifth-hero {
  min-height: 300px;
}

.second-hero {
  // background: url(https://via.placeholder.com/470x300/17a2b8) no-repeat;
  background: url('https://images.unsplash.com/photo-1551651057-f3f83700a831?ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80') no-repeat;
  background-position-x: var(--backgroundXPosition);
}

.third-hero {
  // background: url(https://via.placeholder.com/562x300/20c997) no-repeat;
  background: url('https://images.unsplash.com/photo-1551650257-183e681d25b4?ixlib=rb-1.2.1&auto=format&fit=crop&w=562&q=80') no-repeat;
  background-position-x: var(--backgroundXPosition);
}

.fourth-hero {
  // background: url(https://via.placeholder.com/750x300/dc3545) no-repeat;
  background: url('https://images.unsplash.com/photo-1551690480-75202c273a8b?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80') no-repeat;
  background-position-x: var(--backgroundXPosition);
  background-position-y: bottom;
}

.fifth-hero {
  overflow-x: scroll;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
